<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>METTRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="app/assets/stylesheets/index.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <%# ヘッダー %>
    <div class = "heading">
      <header>
      <form method="get" action="#" class="search_container">
        <input type="text" size="25" class = "input-text font-awesome" placeholder="&#xF002;　fashion検索">
      </form>
        <h1 class = "title"><a href= "/"></a></h1>
      <div class = "navbar">
        <ul class='nav-lists'>
          <% if user_signed_in? %>
             <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "nav ser-nickname" %></li> 
             <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "nav ogout" %></li>
           <% else %>
            <li><%= link_to 'ログイン', "/users/sign_in", class: "nav login" %></li>
            <li><%= link_to '新規会員登録', "/users/sign_up", class: "nav sign-up" %></li>
          <% end %> 
        </ul>
      </div>
      </header>
    </div>
    

    <%# タグ %>
    
    <div class = "main">

    <%# 横 %>

    <div id="hamburg">
    <div id="content">
     <ul class="list">
        <li><a href="#"><i class="fas fa-home"></i> About</a>
        </li>
        <li><a href="#">Study</a>
        </li>
        <li><a href="#">Column</a>
        </li>
      </ul>
     </div>
  </div>
     
    <%# 横 %>

    <div class = "tab-container">
    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked>
        <label class="tab_item" for="all">ALL</label>
      <input id="programming" type="radio" name="tab_item">
      <label class="tab_item" for="programming">MEN</label>
        <input id="design" type="radio" name="tab_item">
      <label class="tab_item" for="design">WOMEN</label>

        <div class="tab_content" id="all_content">


        <% @fashions.each do |fashion| %>
        <div class = "fashion-content">
        <%= link_to fashion_path(fashion.id),class: 'name', local: true do %>
          <%= image_tag fashion.image, class: "item-image"%>
          <% end %>
          <div class = "fashion-text">
            @<%= fashion.user.nickname %>
            <div class ="fashion-title"><a><%= fashion.title %></a></div>
          </div>
        </div>
          <%end%>
        </div>

        <div class="tab_content" id="programming_content">

        <% @fashions.each do |fashion| %>
          <% if fashion.sex_id === 1%>
        <div class = "fashion-content1">
        <%= link_to fashion_path(fashion.id),class: 'name', local: true do %>
          <%= image_tag fashion.image, class: "item-image" %>
          <% end %>
          <div class = "fashion-text">
            @<%= fashion.user.nickname %>
            <div class = "fashion-title">
              <a><%= fashion.title %></a>
            </div>
          </div>
          </div>
          <% end %>
        <% end %>
        </div>

        <div class="tab_content" id="design_content">

        <% @fashions.each do |fashion| %>
          <% if fashion.sex_id === 2 %>
         <div class = "fashion-content2">
         <%= link_to fashion_path(fashion.id),class: 'name', local: true do %>
          <%= image_tag fashion.image, class: "item-image" %>
          <% end %>
          <div class = "fashion-text">
            @<%= fashion.user.nickname %>
          <div class = "fashion-title">
              <a><%= fashion.title %></a>
            </div>
          </div>
          </div>
          <% end %>
        <% end%>
        </div>

    </div>
    </div>
    </div>
    
    <%# タグ %>

    <footer>
<div class="copyright">
	<p>© 2020 - METTRE</p>
</div>
<div class="sns">
	<%# <a href="#" class="contact">Contact</a> %>
  <a href="#" class="youtube"><i class="fa fa-youtube fa-fw" aria-hidden="true"></i></a>
	<a href="#" class="fb"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
	<a href="https://twitter.com/kaito_yamaki" class="tw"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
	<a href="https://www.instagram.com/kikng0526" class="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
</div>
</footer>

  </body>
</html>