<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>METTRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="app/assets/stylesheets/index.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <%# ヘッダー %>
    <%= render "shared/header"%>

    <%# タグ %>
    
    <div class = "main">

    <%# 横 %>

     
    <%# 横 %>

    <div class = "tab-container">
    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked>
        <label class="tab_item" for="all">ALL</label>
      <input id="programming" type="radio" name="tab_item">
      <label class="tab_item" for="programming">MEN</label>
        <input id="design" type="radio" name="tab_item">
      <label class="tab_item" for="design">WOMEN</label>

        <div class="tab_content" id="all_content">


        <% @fashions.each do |fashion| %>
        <div class = "fashion-content">
        <%= link_to fashion_path(fashion.id),class: 'name', local: true do %>
          <%= image_tag fashion.image, class: "item-image"%>
          <% end %>
          <div class = "fashion-text">
            @<%= fashion.user.nickname %>
            <div class ="fashion-title"><a><%= fashion.title %></a></div>
          </div>
        </div>
          <%end%>
        </div>

        <div class="tab_content" id="programming_content">

        <% @fashions.each do |fashion| %>
          <% if fashion.sex_id === 1%>
        <div class = "fashion-content1">
        <%= link_to fashion_path(fashion.id),class: 'name', local: true do %>
          <%= image_tag fashion.image, class: "item-image" %>
          <% end %>
          <div class = "fashion-text">
            @<%= fashion.user.nickname %>
            <div class = "fashion-title">
              <a><%= fashion.title %></a>
            </div>
          </div>
          </div>
          <% end %>
        <% end %>
        </div>

        <div class="tab_content" id="design_content">

        <% @fashions.each do |fashion| %>
          <% if fashion.sex_id === 2 %>
         <div class = "fashion-content2">
         <%= link_to fashion_path(fashion.id),class: 'name', local: true do %>
          <%= image_tag fashion.image, class: "item-image" %>
          <% end %>
          <div class = "fashion-text">
            @<%= fashion.user.nickname %>
          <div class = "fashion-title">
              <a><%= fashion.title %></a>
            </div>
          </div>
          </div>
          <% end %>
        <% end%>
        </div>

    </div>
    </div>
    </div>
    
    <%# タグ %>

    <%# フッター %>
      <%= render "shared/footer"%>
    <%# フッター %>

  </body>
</html>