<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>METTRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="new.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <%# ヘッダー %>
    <div class = "heading">
      <header>
      <form method="get" action="#" class="search_container">
        <input type="text" size="25" class = "input-text font-awesome" placeholder="&#xF002;　fashion検索">
      </form>
        <h1 class = "title"><a href= "/"> <%= image_tag 'logo.png' %></a></h1>
      <div class = "navbar">
        <ul class='nav-lists'>
          <% if user_signed_in? %>
             <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "nav ser-nickname" %></li> 
             <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "nav ogout" %></li>
           <% else %>
            <li><%= link_to 'ログイン', "/users/sign_in", class: "nav login" %></li>
            <li><%= link_to '新規会員登録', "/users/sign_up", class: "nav sign-up" %></li>
          <% end %> 
        </ul>
      </div>
      </header>
    </div>
    <h2 class = "title-main"><i class="fas fa-camera-retro"></i> FASHION</h2>
    <main>
    <%= form_with model: @fashion, local: true do |f| %>
    <%# 画像 %>

    <div class = "image-area">
      <div class="image-text">
        コーディネート
      </div>
      <div class="click-upload">
        <%= f.file_field :image, id:"item-image", placeholder: "画像選択" %>
      </div>
    </div>
      <%# 画像 %>
      <% end %>
    </main>
  </body>