<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>METTRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="app/assets/stylesheets/new.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <%# ヘッダー %>
    <%= render "shared/header"%>
    <%# ヘッダー %>

    <h2 class = "title-main"><i class="fas fa-camera-retro"></i> FASHION</h2>

    <main>
    <div class = "container">
    <%= form_with model: @fashion, local: true do |f| %>
    <%# 画像 %>
    <div class = "image-area">
      <div class = "image-text">
        <a>コーディネート画像</a>
        <div class = "text-size">
          <li>推奨サイズ：300px x 400px</li>
          <li>容量10MB未満</li>
        </div>
      </div>
      <div class="click-upload">
        <%= f.file_field :image, id:"item-image", placeholder: "画像選択" %> 
          <div id = "image-list" class = "java">
            <%# ここにjavascriptが入ります %>
          </div>
      </div>
    </div>
    <%# 画像 %>

    <%# コーディネート詳細%>

    <%# コーデ名 %>
    <div class = "text-area">
      <div class = "code-text">
        <a>コーディネート詳細</a>
      </div>
        <div class = "code-size">
        <a class = "code-title">コーディネート名(40字以内)</a>
        <%= f.text_field :title, class:"items-text", id:"item-name", maxlength:"40" %>
        </div>
    </div>
    <%# コーデ名 %>

    <%# コーディネート説明文 %>
    <div class = "text-area">
      <div class = "code-size">
        <a class = "code-title">コーディネート紹介文</a>
        <%= f.text_area :text, class:"items-area", id:"item-name"%>
      </div>
    </div>
    <%# コーディネート説明文 %>

    <%# アクセサリー %>
      <div class = "text-area">
      <div class = "code-size">
        <a class = "code-title">アクセサリー類</a>
        <%= f.text_field :accessories, class:"items-text", id:"item-name"%>
      </div>
    </div>
    <%# アクセサリー %>

    <%# トップス %>
      <div class = "text-area">
      <div class = "code-size">
        <a class = "code-title">トップス</a>
        <%= f.text_field :tops, class:"items-text", id:"item-name"%>
      </div>
    </div>
    <%# トップス %>

    <%# アウター %>
      <div class = "text-area">
      <div class = "code-size">
        <a class = "code-title">アウター</a>
        <%= f.text_field :outer, class:"items-text", id:"item-name"%>
      </div>
    </div>
    <%# アウター %>

    <%# パンツ %>
      <div class = "text-area">
      <div class = "code-size">
        <a class = "code-title">パンツ</a>
        <%= f.text_field :pants, class:"items-text", id:"item-name"%>
      </div>
    </div>
    <%# パンツ %>

    <%# 性別 %>
       <div class = "text-area">
      <div class = "code-size">
        <a class = "code-title">性別</a>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    <%# 性別 %>

    <%# 年齢 %>
      <div class = "text-area">
      <div class = "code-size">
        <a class = "code-title">年齢</a>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    <%# 年齢 %>

    <%# 身長 %>
       <div class = "end-area">
      <div class = "code-size">
        <a class = "code-title">身長</a>
        <%= f.collection_select(:height_id, Height.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    </div>
    <%# 身長 %>
    <%# コーディネート詳細%>

    <div class = "send">
      <%= f.submit "登録",class:"button" %>
      <%# <input type="submit" value"送信する" class="button"> %>
    </div>
    <% end %>
    </main>

    <%# フッター %>
      <%= render "shared/footer"%>
    <%# フッター %>

  </body>