<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>METTRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="app/assets/stylesheets/new.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <%# ヘッダー %>
    <div class = "heading">
      <header>
      <form method="get" action="#" class="search_container">
        <input type="text" size="25" class = "input-text font-awesome" placeholder="&#xF002;　fashion検索">
      </form>
        <h1 class = "title"><a href= "/"> 
        <%# <%= image_tag 'logo.png' %> 
        </a></h1>
      <div class = "navbar">
        <ul class='nav-lists'>
          <% if user_signed_in? %>
             <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "nav ser-nickname" %></li> 
             <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "nav ogout" %></li>
           <% else %>
            <li><%= link_to 'ログイン', "/users/sign_in", class: "nav login" %></li>
            <li><%= link_to '新規会員登録', "/users/sign_up", class: "nav sign-up" %></li>
          <% end %> 
        </ul>
      </div>
      </header>
    </div>
    <h2 class = "title-main"><i class="fas fa-camera-retro"></i> FASHION</h2>
    <%# <a href="/fashions/#{fashion/edit" class="btn-square-shadow">編集</a> %>

    <% if current_user === @fashion.user %>
    <%= link_to '編集', edit_fashion_path(@fashion),method: :get, class: "btn-square-shadow"%>
    <% end %>

    <div class = "main-main">
      <div class = "cont">
        <div class="content">
        <%= image_tag @fashion.image, class: "items-image"%>
        <% if current_user.already_favorited?(@fashion)%>
          <%= link_to 'いいねを外す',fashion_favorites_path(@fashion), method: :delete %>
        <% else %>
          <%= link_to 'いいね',fashion_favorites_path(@fashion), method: :post %>
        <% end %>
        <%= @fashion.favorites.count %>
        
       <div class = "user-infomation">

       <h2 class = "title-user"><i class="fas fa-user"></i> USER</h2>

        <div class = "user-details">
          <p class = "user-name">ユーザー名</p>
          <h2><%= @fashion.user.username%></h2>
          <div class = "user-model">
          <p class = "user-info">モデル情報:</p>
          <p class = "user-info2"><%= @fashion.sex.name%></p>
          <p class = "user-info2"><%= @fashion.age.name%></p>
          <p class = "user-info2"><%= @fashion.height.name%></p>
          </div>
        </div>

        <h2 class = "title-main"><i class="fas fa-camera-retro"></i> FASHION</h2>

        <div class = "details">
          <p class = "title">コーディネート名</p>
          <h2><%= @fashion.title%></h2>
          <p class = "text">コーディネート紹介<p>
          <h2><%= @fashion.text%></h2>
          <p class = "time"><i class="far fa-clock"></i> <%= @fashion.created_at%></p>
        </div>

         <h2 class = "title-main"><i class="fas fa-tshirt"></i> ITEM</h2>

        <div class="fashion-details">
          <% if @fashion.accessories.present? %>
          <p class = "title">アクセサリー</p>
          <h2><%= @fashion.accessories%></h2>
          <% end %>
          <% if @fashion.tops.present? %>
          <p class = "text">トップス<p>
          <h2><%= @fashion.tops%></h2>
          <% end %>
          <% if @fashion.outer.present? %>
          <p class = "text">アウター<p>
          <h2><%= @fashion.outer%></h2>
          <% end %>
          <% if @fashion.pants.present? %>
          <p class = "text">パンツ<p>
          <h2><%= @fashion.pants%></h2>
          <% end %>
        </div>

        </div>
      </div>
    </div>

<footer>
 <div class="copyright">
	<p>© 2020 - METTRE</p>
 </div>
  <div class="sns">
	<%# <a href="#" class="contact">Contact</a> %>
  <a href="#" class="youtube"><i class="fa fa-youtube fa-fw" aria-hidden="true"></i></a>
	<a href="#" class="fb"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
	<a href="https://twitter.com/kaito_yamaki" class="tw"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
	<a href="https://www.instagram.com/kikng0526" class="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
</div>
</footer>

</body>